extends ../../layout/default.pug
include ../../mixins/box-head.pug

block main
    .container 
        .row 
            .col-12
                +box-head("Danh sách sản phẩm")

        .row.mb-3
            .col-12.col-md-6
                form.d-flex.gap-2(method="GET")
                    label.form-label.mb-0.align-self-center(for="sort") Sắp xếp:
                    select.form-control.form-control-sm(id="sort" name="sort" style="max-width: 250px;")
                        option(value="") Mặc định
                        option(value="newest") Mới nhất
                        option(value="price_asc") Giá tăng dần
                        option(value="price_desc") Giá giảm dần
                        option(value="name_asc") Tên A-Z
                        option(value="name_desc") Tên Z-A
                        option(value="discount_desc") Giảm giá nhiều nhất
                        option(value="rating_desc") Đánh giá cao nhất
                    button.btn.btn-sm.btn-primary(type="submit") Sắp xếp


        .row 
            for item in products
                .item
                    if item.discountPercentage > 0  
                        div.item__discount - #{item.discountPercentage * 100}%

                    div.item__box-image
                        img.item__image(
                            alt=item.title 
                            src=item.imgUrl
                            class="view-detail"
                            //- data-product-slug=item.slug
                        )

                    div.item__content
                        //- h6.item__content--name Onion - 1kg
                        h6.item__content--name(
                            class="view-detail"
                            data-product-slug=item.slug
                        ) #{item.title}

                        div.item__content--rate
                            i.fa-regular.fa-star
                            i.fa-regular.fa-star
                            i.fa-regular.fa-star
                            i.fa-regular.fa-star
                            i.fa-regular.fa-star
                            span.item__content--reviews #{item.reviews} reviews

                        div.item__content--price
                            span.current-price $#{item.price}
                            if item.listPrice > 0
                                span.root-price $#{item.listPrice}

                        //- div.item__content--demand
                        //-     button.item__content--button.like_button
                        //-         i.fa-regular.fa-heart
                        //-     button.item__content--button.cart_button
                        //-         i.fa-solid.fa-cart-plus
                        //-     button.item__content--button.watch_button
                        //-         i.fa-regular.fa-eye


    script(src="/client/js/script.js") 