extends ../../layout/default.pug
include ../../mixins/alert.pug

block main 
    +alert(messages)
    .container.mt-4
        .row.mb-4
            .col-12
                h1.mb-3.product-detail__header Product Detail
                a.btn.btn-secondary(href=`/product`) 
                    i.fas.fa-arrow-left
                    |  Back

        .row.mt-4.justify-content-center
            .col-md-10
                .row
                    // Hình ảnh sản phẩm
                    .col-md-5
                        .product-detail__image-wrapper
                            img.product-detail__image(
                                src=product.imgUrl 
                                alt=product.title 
                            )

                    // Thông tin sản phẩm
                    .col-md-7
                        .product-detail__info
                            h3.product-detail__title #{product.title}

                            // Đánh giá
                            .product-detail__rating.mb-3
                                span.badge.bg-warning 4.5 ⭐ 
                                    if(product.reviewCount)
                                        | (#{product.reviewCount} reviews)
                                    else
                                        | (No reviews yet)

                            // Giá
                            .product-detail__price.mb-3
                                h3.product-detail__price-current
                                    strong #{product.price}$
                                span.product-detail__price-original
                                    if(product.listPrice)
                                        | #{product.listPrice}$

                            // Trạng thái
                            .product-detail__status.mb-3
                                .product-detail__status-label Availability:
                                if product.status === 'active'
                                    span.badge.bg-success 5 In Stock
                                else
                                    span.badge.bg-danger Out of Stock

                            // Mô tả
                            .product-detail__description.mb-3
                                h5.product-detail__description-title Description:
                                p.product-detail__description-text !{product.description}
                                    
                            // Thông tin chi tiết
                            .product-detail__information.mb-3
                                h5.product-detail__information-title Information:
                                ul.product-detail__information-list
                                    li.product-detail__information-item
                                        strong Category: 
                                        span #{category ? category.title : 'N/A'}

                                    li.product-detail__information-item
                                        strong ASIN: 
                                        span #{product.asin}

                            // Lựa chọn sản phẩm
                            .product-detail__quantity.mb-3      
                                form(method="POST" action=`/cart/add/${product.id}` id="add-to-cart-form")                
                                    label.product-detail__quantity-label(for="quantity") Quantity:
                                    input#quantity.product-detail__quantity-input(
                                        type="number" 
                                        min="1" 
                                        max="100" 
                                        name="quantity"
                                        value=1)

                            // Nút hành động
                            .product-detail__actions.mb-3
                                button.btn.product-detail__actions-btn-cart(type="submit")
                                    i.fas.fa-shopping-cart
                                    | &nbsp;Add to Cart
                                button.btn.product-detail__actions-btn-buy
                                    i.fas.fa-dollar-sign
                                    | &nbsp;Buy it now
                                button.btn.product-detail__actions-btn-wishlist
                                    i.fas.fa-heart
                                    | &nbsp;Add to Wishlist

                            // Chia sẻ
                            .product-detail__share.mb-3
                                strong.product-detail__share-label Share: 
                                a.product-detail__share-link.me-2(href="#") 
                                    i.fa-brands.fa-facebook
                                a.product-detail__share-link.me-2(href="#")
                                    i.fab.fa-twitter
                                a.product-detail__share-link(href="#")
                                    i.fab.fa-pinterest

        // Sản phẩm liên quan
        .row.mt-5
            .col-12
                h3.product-detail__related-title Relate Products
                .row
                    - for (let i = 0; i < 4; i++)
                        .col-md-3.mb-3
                            .product-detail__related-card
                                img.product-detail__related-image(src=`/images/product-${i}.jpg` alt="...")
                                .product-detail__related-body
                                    h5.product-detail__related-name Product ${i+1}
                                    p.product-detail__related-price $99.99
                                    a.btn.btn-sm.btn-primary.product-detail__related-link(href="#") View Details

    script(src="/client/js/product.js")