extend ../../layout/default.pug
include ../../mixins/renderCategory.pug
include ../../mixins/alert.pug

block main
  +alert(messages)
  section.section1
    .container
      .section1__wrapper
        .section1__cateList
          .section1__scroll-bar-header
            i.fa-solid.fa-bars
            span Category list
          #scroll-bar.section1__scroll-bar
            each category in categoryHierarchy
              if (category.level === 0)
                +renderCategory(category)

        .section1__slider
          .section1__slider-nextpage
            button.slider__nextpage-button.slider__nextpage-button--left(onclick='nextSlide(-1)')
              i.fa-solid.fa-less-than
            button.slider__nextpage-button.slider__nextpage-button--right(onclick='nextSlide(1)')
              i.fa-solid.fa-greater-than
          .slider.slider--1

            img.slider__image(src='/client/images/section1_image5.webp' alt='image')
            .slider__content.slider__content--1
              span.slider__content-smalltitle Summer vege sale
              h2.slider__content-bigtitle
                | Vegetable 
                br
                |  farmfood
              button.slider__button Shop now

          .slider.slider--2 

            img.slider__image(src='/client/images/section1_image2.webp' alt='image')
            .slider__content.slider__content--2
              span.slider__content-smalltitle Mix masala
              h2.slider__content-bigtitle
                | Spectialties 
                br
                |  recipetion
              button.slider__button Shop now
          .slider.slider--3

            img.slider__image(src='/client/images/section1_image3.webp' alt='image')
            .slider__content.slider__content--3
              span.slider__content-smalltitle Top selling collection
              h2.slider__content-bigtitle
                | Healthier 
                br
                |  testy way
              button.slider__button Shop now

  section.section7
    .container
      h3.section7__title Our products

      -const currentType = 'newProducts'; 
      .section7__typeButton.btn-group
        button.button-type.active(data-type='bestSellerProducts') Best Product
        button.button-type(data-type='newProducts') New Product
        button.button-type(data-type='trendingProducts') Trending Product

      .swiper-container
        .section7__wrapper
          -const numberPerColumn = 3;
          -Object.keys(productData).forEach(categoryType => {
            -const products = productData[categoryType]
            -const isActive = categoryType === 'bestSellerProducts' ? 'active' : ''
            .product-group(data-type=categoryType class=isActive)
              .swiper-button-prev
              .swiper-button-next
              .big-card-wrap.swiper.swiper-products(data-type=categoryType)
                .swiper-wrapper
                  -const totalColumns = Math.ceil(products.length / numberPerColumn)
                  -for (let col = 0; col < totalColumns; col++)
                    -const startIndex = col * numberPerColumn
                    -const endIndex = Math.min(startIndex + numberPerColumn, products.length)
                    -const columnItems = products.slice(startIndex, endIndex)
                    .item-column.swiper-slide
                      -columnItems.forEach(product => {
                        .item
                          if (product.discountPercentage > 0)
                            .item__discount #{product.discountPercentage * 100}%
                          .item__image-box
                            img.item__image(src=product.imgUrl alt='image')
                          .item__content
                            h6.item__content--name 
                              | #{product.title}
                            .item__content--rate
                              i.fa-regular.fa-star
                              i.fa-regular.fa-star
                              i.fa-regular.fa-star
                              i.fa-regular.fa-star
                              i.fa-regular.fa-star
                              if (product.reviews === 0 || !product.reviews)
                                span.item__content--reviews No reviews
                              else 
                                span.item__content--reviews #{product.reviews} reviews
                            .item__content--price
                              span.current-price $#{product.price}
                              if (product.listPrice > 0)
                                span.root-price $#{product.listPrice}
                            .item__content--demand
                              button.item__content--button.like_button(class="add-to-wishlist" data-product-id=product._id)
                                i.fa-regular.fa-heart
                              button.item__content--button.cart_button(class="add-to-cart" data-product-id=product._id)
                                i.fa-solid.fa-cart-plus
                              button.item__content--button.watch_button
                                i.fa-regular.fa-eye
                      -})
          -})

  form#add-to-cart-form(method="POST" action="/cart/add" style="display:none;")
    input(type="hidden" name="productId" id="hidden-product-id")
    input(type="hidden" name="quantity" id="hidden-quantity" value="1")
  
  form#add-to-wishlist-form(method="POST" action="/wishlist/add" style="display:none;")
    input(type="hidden" name="productId" id="wishlist-hidden-product-id")

  script(src="https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.js") 
  script(src="/client/js/home.js") 
