extends ../../layout/default.pug
include ../../mixins/alert.pug

block main

    +alert(messages)

    .container-fluid
        .row.mb-4
            .col-12
                h1.mb-3 Change Password

        .row
            .col-lg-8.offset-lg-2
                .card
                    .card-body
                        form(
                            method="POST" 
                            action=`${prefixAdmin}/personal/change-password?_method=PATCH` 
                        )

                            // Password
                            .mb-3
                                label.form-label(for="currentPassword")
                                    strong Current Password 
                                    //- span.text-danger *
                                input.form-control(
                                    type="password"
                                    id="currentPassword"
                                    name="currentPassword"
                                    placeholder="Enter current password to verify"
                                )

                            .mb-3
                                label.form-label
                                    //- strong Change Password (Optional)
                                .row
                                    .col-md-6.mb-3
                                        label.form-label(for="newPassword")
                                            | New Password
                                        input.form-control(
                                            type="password"
                                            id="newPassword"
                                            name="newPassword"
                                            placeholder="Leave blank to keep current"
                                        )

                                    .col-md-6.mb-3
                                        label.form-label(for="confirmPassword")
                                            | Confirm Password
                                        input.form-control(
                                            type="password"
                                            id="confirmPassword"
                                            name="confirmPassword"
                                            placeholder="Confirm new password"
                                        )


                            // Buttons
                            .row.mt-4
                                .col-12
                                    button.btn.btn-primary(type="submit")
                                        i.fas.fa-save
                                        |  Update Password
                                    a.btn.btn-secondary.ms-2(href=`${prefixAdmin}/personal`)
                                        i.fas.fa-times
                                        |  Cancel

