extends ../../layout/default.pug
include ../../mixins/alert.pug

block main

    +alert(messages)

    .container-fluid
        .row.mb-4
            .col-12
                h1.mb-3 Edit Personal Information
               

        .row
            .col-lg-8.offset-lg-2
                .card
                    .card-body
                        form(
                            method="POST" 
                            action=`${prefixAdmin}/personal/edit?_method=PATCH` 
                            enctype="multipart/form-data")

                            .row
                                .col-md-4.mb-3
                                    label.form-label(for="email")
                                        strong Email
                                        span.text-danger *
                                    input.form-control(
                                        type="email"
                                        id="email"
                                        name="email"
                                        placeholder="Enter email"
                                        value=user.email
                                    ) 

                            
                                .col-md-4.mb-3  
                                    label.form-label(for="fullName")
                                        strong Full Name
                                        span.text-danger *
                                    input.form-control(
                                        type="text"
                                        id="fullName"
                                        name="fullName"
                                        placeholder="Enter full name"
                                        value=user.fullName
                                    )

                            
                                .col-md-4.mb-3
                                    label.form-label(for="phone")
                                        strong Phone
                                    input.form-control(
                                        type="tel"
                                        id="phone"
                                        name="phone"
                                        placeholder="Enter phone number"
                                        value=user.phone
                                    )

                            // Avatar
                            .mb-3
                                div(upload-image)
                                    label.form-label(for="imgUrl") Avatar 
                                    .d-flex.gap-2.align-items-center
                                        input.form-control#imgUrl(
                                            type="file"
                                            class="form-control-file"
                                            accept="image/*"
                                            name="avatar"
                                            upload-image-input
                                            style="display: none;"

                                        )
                                        label.btn.btn-outline-secondary.mb-0(for="imgUrl" style="cursor: pointer;")
                                            i.fas.fa-upload
                                            |  Choose File
                                        span.badge.bg-secondary(upload-image-label) No file chosen

                                    img(
                                        src=`${user.avatar}`, 
                                        alt="Preview Image", 
                                        class="img-thumbnail mt-2", 
                                        upload-image-preview
                                    )
                                    button.btn-close(
                                        type='button' 
                                        aria-label='Close' 
                                        upload-image-clear 
                                        style="display:none")

                            hr

                            // Buttons
                            .row.mt-4
                                .col-12
                                    button.btn.btn-primary(type="submit")
                                        i.fas.fa-save
                                        |  Update Info
                                    a.btn.btn-secondary.ms-2(href=`${prefixAdmin}/personal`)
                                        i.fas.fa-times
                                        |  Cancel

