extends ../../layout/default.pug
include ../../mixins/alert.pug

block main
    +alert(messages)

    .container-fluid
        .row.mb-4
            .col-12
                h1.mb-3 Edit Account Info
                a.btn.btn-secondary(href=`${prefixAdmin}/accounts`)
                    i.fas.fa-arrow-left
                    |  Back

        .row
            .col-lg-8.offset-lg-2
                .card
                    .card-body
                        form(
                            method="POST" 
                            action=`${prefixAdmin}/accounts/edit/${account._id}?_method=PATCH` 
                            enctype="multipart/form-data")

                            // Email
                            .mb-3
                                label.form-label(for="email")
                                    strong Email
                                    span.text-danger *
                                input.form-control(
                                    type="email"
                                    id="email"
                                    name="email"
                                    placeholder="Enter email"
                                    value=account.email
                                ) 

                            // Password
                            .mb-3
                                label.form-label(for="password")
                                    strong Password
                                    span.text-danger *
                                input.form-control(
                                    type="password"
                                    id="password"
                                    name="password"
                                    placeholder="Enter password"
                                    value=account.password
                                )

                            // Full Name
                            .mb-3
                                label.form-label(for="fullName")
                                    strong Full Name
                                    span.text-danger *
                                input.form-control(
                                    type="text"
                                    id="fullName"
                                    name="fullName"
                                    placeholder="Enter full name"
                                    value=account.fullName
                                )

                            // Phone
                            .mb-3
                                label.form-label(for="phone")
                                    strong Phone
                                input.form-control(
                                    type="tel"
                                    id="phone"
                                    name="phone"
                                    placeholder="Enter phone number"
                                    value=account.phone
                                )

                            // Avatar
                            .mb-3
                                div(upload-image)
                                    label.form-label(for="imgUrl") Avatar 
                                    .d-flex.gap-2.align-items-center
                                        input.form-control#imgUrl(
                                            type="file"
                                            class="form-control-file"
                                            accept="image/*"
                                            name="avatar"
                                            upload-image-input
                                            style="display: none;"

                                        )
                                        label.btn.btn-outline-secondary.mb-0(for="imgUrl" style="cursor: pointer;")
                                            i.fas.fa-upload
                                            |  Choose File
                                        span.badge.bg-secondary(upload-image-label) No file chosen

                                    img(
                                        src=`${account.avatar}`, 
                                        alt="Preview Image", 
                                        class="img-thumbnail mt-2", 
                                        upload-image-preview
                                    )
                                    button.btn-close(
                                        type='button' 
                                        aria-label='Close' 
                                        upload-image-clear 
                                        style="display:none")
                            // Role
                            .mb-3
                                label.form-label(for="role_id")
                                    strong Role
                                select.form-select(id="role_id" name="role_id")
                                    option(value="") -- Select Role --
                                    each role in roles
                                        option(value=role._id, selected=account.role_id == role._id)= role.title

                            // Status
                            .mb-3
                                label.form-label(for="status") Status

                                div.form-check
                                    input.form-check-input#statusActive(
                                        type="radio"
                                        name="status"
                                        value="active"
                                        checked=account.status === 'active'
                                    )
                                    label.form-check-label(for="statusActive") Active

                                div.form-check
                                    input.form-check-input#statusInactive(
                                        type="radio"
                                        name="status"
                                        value="inactive"
                                        checked=account.status === 'inactive'
                                    )
                                    label.form-check-label(for="statusInactive") Inactive


                            // Buttons
                            .row.mt-4
                                .col-12
                                    button.btn.btn-primary(type="submit")
                                        i.fas.fa-save
                                        |  Update Account
                                    a.btn.btn-secondary.ms-2(href=`${prefixAdmin}/accounts`)
                                        i.fas.fa-times
                                        |  Cancel

