extends ../../layout/default.pug
include ../../mixins/alert.pug

block main
    link(rel="stylesheet" href="/client/styles/css/user.css")
    +alert(messages)

    .container.my-5
        .row.justify-content-center.user-profile-changePassword
            .col-md-10.col-lg-6
                .card.user-card
                    .card-body
                        h3.user-title Change Password

                        form(method='POST' action='/user/profile/change-password?_method=PATCH')
                            .info-item
                                label.label(for='currentPassword') Current Password
                                input.form-input(
                                    type='password',
                                    id='currentPassword',
                                    name='currentPassword',
                                    placeholder='Enter current password',
                                )

                            .info-item
                                label.label(for='newPassword') New Password
                                input.form-input(
                                    type='password',
                                    id='newPassword',
                                    name='newPassword',
                                    placeholder='Enter new password',
                                )

                            .info-item
                                label.label(for='confirmNewPassword') Confirm New Password
                                input.form-input(
                                    type='password',
                                    id='confirmNewPassword',
                                    name='confirmNewPassword',
                                    placeholder='Confirm new password',
                                )

                            .user-actions.mt-4
                                button.btn.confirm(type='submit') Confirm   
                                a.btn.back(href='/user/profile') Back