extends ../../layout/default.pug
include ../../mixins/alert.pug

block main
    link(rel="stylesheet" href="/client/styles/css/user.css")
    +alert(messages)

    .container.my-5
        .row.justify-content-center.user-profile
            .col-md-10.col-lg-8
                .card.user-card
                    .card-body
                        h3.user-title Edit Profile

                        form(method='POST' action='/user/profile/edit?_method=PATCH' enctype='multipart/form-data')
                            .row.align-items-center

                                // ===== LEFT: FORM =====
                                .col-md-7
                                    .user-info

                                        .info-item
                                            label.label(for='fullname') Full Name
                                            input.form-input(
                                                type='text',
                                                id='fullname',
                                                name='fullname',
                                                value=user.fullname || '',
                                                placeholder='Enter full name',
                                            )

                                        .info-item
                                            label.label(for='email') Email
                                            input.form-input(
                                                type='text',
                                                id='email',
                                                name='email',
                                                value=user.email || '',
                                                placeholder='Enter email',
                                            )

                                        .info-item
                                            label.label(for='phone') Phone
                                            input.form-input(
                                                type='tel',
                                                id='phone',
                                                name='phone',
                                                value=user.phone || '',
                                                placeholder='Enter phone number'
                                            )

                                    .user-actions
                                        button.btn.edit(type='submit') Save
                                        a.btn.back(href='/user/profile') Back

                                // ===== RIGHT: AVATAR =====
                                .col-md-5.text-center
                                    .user-avatar-wrapper

                                        if user.avatar
                                            img#current-avatar.user-avatar(src=user.avatar, alt=user.fullname)
                                        else
                                            .user-avatar-placeholder
                                                i.bi.bi-person

                                        img#new-avatar.user-avatar.preview-avatar(style='display: none;')

                                    .mt-3.avatar-upload
                                        input#avatar-input.form-control(
                                            type='file',
                                            name='avatar',
                                            accept='image/*',
                                            onchange='previewAvatar(this)'
                                            style='display: none;'
                                        )
                                        label.avatar-button-upload(for="avatar-input" style="cursor: pointer;")
                                            i.fas.fa-upload
                                            |  Choose File
                                        span.avatar-label No file chosen

                                    .text-muted
                                            |  JPG, PNG, AVIF, WEBP (Max 5MB)

    script(src="/client/js/user.js")