section.top 
    .container  
        .top__wrapper
            p.top__content 
                span.top__content--flick Free shipping 
                | on orders over $50 and free returns for all orders!
            .top__function 
                .top__function-support
                    a.top__function-item(href="#")
                        i.fa-solid.fa-phone 
                        |    Contact Us
                if(!user)
                    .top__function-auth
                        a.top__function-item(href="/user/register") Register
                        span |
                        a.top__function-item(href="/user/login") Sign In
                else 
                    .top__function-profile 
                        if (user.avatar === undefined || user.avatar === null)
                            img.top__function-profile-img(src='https://staging.svgrepo.com/show/369033/user-circle.svg' alt="image")
                        else    
                            img.top__function-profile-img(src=`${user.avatar}` alt="image")                   
                        p.top__function-profile-name #{user.fullname}
                    
                        .top__function-profile-dropdown
                            a.top__function-profile-dropdown-item(href="/user/profile")
                                i.fa-solid.fa-user
                                | Personal Info
                            a.top__function-profile-dropdown-item(href="/user/purchases")
                                i.fa-solid.fa-bag-shopping
                                | My Orders
                            a.top__function-profile-dropdown-item(href="/user/logout")
                                i.fa-solid.fa-right-from-bracket
                                | Logout
section.header

    .container
        //- div #{user}
        .header__wrapper
            a.header__logo(href="/")
                img(src=`${settingGeneral.logo}` alt="logo")
            nav.header__nav
                a.header__nav-item(href="/") HOME
                a.header__nav-item(href="/product") PRODUCT
                a.header__nav-item(href="/category") CATEGORY 
                a.header__nav-item(href="/blogs") BLOGS
                a.header__nav-item(href="/pages") PAGES
                a.header__nav-item(href="/chat") CHAT 

            .header__info
                //- Search
                button.header__info-icon--close.btn-close(
                    type='button' 
                    aria-label='Close' 
                )
                form.header__info-search(action="/product" method="GET")
                    input(type="text" name="keyword" placeholder="Search for products")
                button.header__info-icon.header__info-icon--search
                    i.fa-solid.fa-magnifying-glass

                a.header__info-icon.header__info-icon--favourite(href="/wishlist")
                    i.fa-regular.fa-heart
                    div.wishlist-quantity #{wishlistQuantity || 0}

                //- Cart
                a.header__info-icon.header__info-icon--cart(href="/cart") 
                    i.fa-solid.fa-cart-shopping
                    div.cart-quantity #{cartQuantity || 0}
                if (!user)
                    a.header__info-icon.header__info-icon--profile(href="/user/register")
                        i.fa-solid.fa-user


script(src="/client/js/header.js")