extends ../../layout/default
include ../../mixins/alert.pug

block main
    +alert(messages)

    .container-fluid
        .row.mb-4
            .col-12
                h1.mb-3 Permission Management
                a.btn.btn-secondary(href=`${prefixAdmin}/roles`) 
                    i.fas.fa-arrow-left
                    |  Back

        if (resources.length === 0)
            .row
                .col-12
                    .alert.alert-info No resources found. Please create resources and actions first.
        else
            .row
                .col-12
                    .card
                        .card-body
                            form#permissionForm(method="POST" action=`${prefixAdmin}/permissions`)
                                .table-responsive#permissions-table
                                    table.table.table-bordered.table-hover
                                        thead.table-light
                                            tr
                                                th(style="width: 250px;") Resource / Action
                                                each role in roles
                                                    th(style="text-align: center;")
                                                        strong= role.title

                                                tr(class="role-ids" style="display: none;")
                                                    th 
                                                    each role in roles 
                                                        td(class="text-center")                                                              
                                                            input(type="text" value=role._id readonly style="text-align: center; width: 100%; border: none; background: transparent;")


                                            tbody
                                            // Chọn tất cả
                                            tr
                                                td
                                                    strong(class="text-primary") Chọn tất cả
                                                    for role, index in roles
                                                        td(class="text-center")
                                                            input(type="checkbox" name="select-all" checked=permissionsData[index].permissions.length === totalPermissionsCount)

                                            // Các resource và action
                                            // Các resource và action
                                            each resource in resources
                                                tr
                                                    td 
                                                        strong(class="text-primary") #{resource.name}
                                                        each role, roleIndex in roles
                                                            - const resourcePermissions = resource.data_name.filter(perm => permissionsData[roleIndex].permissions.includes(perm))
                                                            - const isResourceFullyChecked = resourcePermissions.length === resource.data_name.length
                                                            td(class="text-center" )
                                                                input(type="checkbox" name="select-all-partial" checked=isResourceFullyChecked)
                                                
                                                each action, i in resource.actions
                                                    tr(data-name=resource.data_name[i])
                                                        td(style="padding-left: 30px;")= action
                                                        each role, roleIndex in roles
                                                            - const hasPermission = permissionsData[roleIndex].permissions.includes(resource.data_name[i])
                                                            td(class="text-center" )
                                                                input(type="checkbox" name="checkbox-item" checked=hasPermission)


                            .row.mt-4
                                .col-12
                                    button.btn.btn-primary(type="submit" id="submitPermissions")
                                        i.fas.fa-save
                                        |  Save Permissions
                                    a.btn.btn-secondary.ms-2(href=`${prefixAdmin}/roles`)
                                        i.fas.fa-times
                                        |  Cancel

    form#hiddenForm(
        method="POST" 
        action=`${prefixAdmin}/roles/permissions?_method=PATCH` 
        name="submitPermissionForm"
    )
        div(class="mb-3")
            input(name="permissions" id="permissionsInput" type="hidden")
    
    script(src="/admin/js/role.js") 