extends ../../layout/default.pug
include ../../mixins/filterButton.pug
include ../../mixins/searchForm.pug
include ../../mixins/pagination.pug
include ../../mixins/formChangeMultiStatus.pug
include ../../mixins/alert.pug
include ../../mixins/sortFormProduct.pug

append head
  link(rel="stylesheet" href="/admin/styles/css/product.css")
  link(rel="stylesheet" href="/admin/styles/css/pagination.css")
  link(rel="stylesheet" href="/admin/styles/css/filter.css")

block main
    if (!role.permissions.includes("product-view"))
      div.alert.alert-danger(role="alert")
        | Bạn không có quyền truy cập vào trang này.

    else
        +alert(messages)

        .product-page
            .product-header
                .product-header__left
                    h1.product-title Quản lý sản phẩm
                    p.product-subtitle Quản lý danh sách sản phẩm, lọc/truy vấn nhanh và thao tác hàng loạt.
                .product-header__right
                    if (role.permissions.includes("product-create"))
                        a.btn.btn-primary.product-create(href=`${prefixAdmin}/products/create`)
                            i.fa-solid.fa-plus
                            span Thêm sản phẩm

            .product-toolbar
                .filter.mb-0
                    .filter-title
                        .filter-title__left
                            i.fa-solid.fa-filter
                            h5 Bộ lọc
                        .filter-title__right
                            span.filter-hint Lọc theo trạng thái hoặc tìm kiếm nhanh
                    .filter-content
                        .row.g-2.align-items-center
                            +filter-status-buttons(filterStatus)
                            +search-form(searchValue)

                .sort.mb-0
                    +sortFormProduct(sortValue)

            .product-table-wrap
                .product-table-top
                    .product-table-top__left
                        +form-change-multiple-status(`${prefixAdmin}/products/change-multiple-status?_method=PATCH` )
                    .product-table-top__right
                        .product-counter
                            i.fa-solid.fa-boxes-stacked
                            span #{products.length} sản phẩm

                .table-responsive.product-table-card
                    table.table.table-hover.align-middle.product-table(checkbox-multi)
                        thead
                            tr
                                th(style="width: 44px;")
                                    input.form-check-input(type="checkbox" name="selectAll" id="selectAll")
                                th(scope="col" style="width: 70px;") #
                                th(scope="col" style="width: 140px;") Hình ảnh
                                th(scope="col") Tên sản phẩm
                                th(scope="col" style="width: 140px;") Giá
                                th(scope="col" style="width: 160px;") Trạng thái
                                th(scope="col" style="width: 200px;") Tạo bởi
                                th(scope="col" style="width: 160px;") Thao tác
                        tbody
                            for item, index in products
                                tr
                                    td
                                        input.form-check-input.checkbox-item(type="checkbox" name="selectedItems" value=item._id)

                                    th(scope="row") #{pagination.limitItems * (pagination.currentPage - 1) + index + 1}
                                    td
                                        .product-thumb
                                            img(
                                                src=item.imgUrl
                                                alt=item.title 
                                                class="img-fluid"
                                                width= '120px'  
                                                height= "120px"
                                            )
                                    td
                                        .product-name #{item.title}
                                    td
                                        .product-price #{item.price}$
                                    td
                                        if (role.permissions.includes("product-change-status"))
                                            if item.status === 'active'
                                                a.badge.product-badge.is-active(
                                                    href=`javascript:`
                                                    data-status=item.status
                                                    data-id=item.id
                                                    button-change-status
                                                ) #{item.status}
                                            else if item.status === 'inactive'
                                                a.badge.product-badge.is-inactive(
                                                    href=`javascript:`
                                                    data-status=item.status
                                                    data-id=item.id
                                                    button-change-status
                                                ) #{item.status}
                                        else
                                            if item.status === 'active'
                                                span.badge.product-badge.is-active #{item.status}
                                            else if item.status === 'inactive'
                                                span.badge.product-badge.is-inactive #{item.status}
                                    td
                                        .product-created-by #{item.accountName}
                                        if (item.createdAt)
                                            .product-date #{item.createdAt.toLocaleDateString('vi-VN')}
                                    td
                                        .product-actions
                                            a.btn.btn-sm.btn-outline-secondary(
                                                href=`${prefixAdmin}/products/${item._id}` 
                                                title="Xem"
                                            ) 
                                                i.fa-solid.fa-eye
                                            if (role.permissions.includes("product-update"))
                                                a.btn.btn-sm.btn-outline-warning(
                                                    href = `${prefixAdmin}/products/edit/${item._id}`
                                                    id=`button-edit`
                                                    data-id=item.id
                                                    title="Sửa"
                                                ) 
                                                    i.fa-solid.fa-pen-to-square
                                            if (role.permissions.includes("product-delete"))
                                                a.btn.btn-sm.btn-outline-danger(              
                                                    data-id=item.id 
                                                    id=`button-delete`
                                                    title="Xóa"
                                                ) 
                                                    i.fa-solid.fa-trash

            .product-pagination
                +pagination(pagination)

        form(
            action=""
            id = "changeStatusForm"
            method="POST" 
            data-path = `${prefixAdmin}/products/change-status`
        )

        form(
            action=""
            id = "deleteItemForm"
            method="POST" 
            data-path = `${prefixAdmin}/products/delete/`
        )


        script(src="/admin/js/product.js") 