extend ../../layout/default.pug
include ../../mixins/filterButton.pug
include ../../mixins/searchForm.pug
include ../../mixins/pagination.pug

block main
    h1 Trang quản lý sản phẩm

    div(class="filter mb-3")
        div.filter-title
            h5 Product Filter Status
        div.filter-content
            .row 
                +filter-status-buttons(filterStatus)
                +search-form(searchValue)

    table.table
        thead.table-header
            tr
                th(scope="col") #
                th(scope="col") Minh họa
                th(scope="col") Tiêu đề
                th(scope="col") Giá
                th(scope="col") Trạng thái
                th(scope="col") Hành động
        tbody
            for item, index in products
                tr
                    th(scope="row") #{index + 1}
                    td.item-img
                        img(
                            src=item.imgUrl
                            alt=item.title 
                            class="img-fluid"
                            width= '120px'  
                            height= "120px"
                        )
                    td.item-title #{item.title}
                    td.item-price #{item.price}$

                    if item.status === 'active'
                        td
                            span.badge.badge-success #{item.status}
                    else if item.status === 'inactive'
                        td
                            span.badge.badge-danger #{item.status}


                    td.item-action
                        a.btn.btn-primary(href="/admin/products/edit/#{item._id}") Sửa
                        a.btn.btn-danger(href="/admin/products/delete/#{item._id}") Xóa

    +pagination(pagination)