extend ../../layout/default.pug

block main
    h1 Trang quản lý sản phẩm

    div(class="filter mb-3")
        div.filter-title
            h5 Product Filter Status
        div.filter-content
            .row 
                .col-md-5.filter-buttons
                    for item in filterStatus
                        button(class=`button-status btn btn-outline-primary ${item.class}` data-status = item.status) #{item.name}
                .col-md-7.form-floating
                    form(id="search-form") 
                      .input-group
                            button(type="submit" class="btn btn-outline-secondary")
                                i.fa-solid.fa-magnifying-glass
                            input.form-control(
                                id="search-input"
                                type="text"
                                placeholder="Tìm kiếm..."
                                value=searchValue
                            )
    table.table
        thead.table-header
            tr
                th(scope="col") #
                th(scope="col") Minh họa
                th(scope="col") Tiêu đề
                th(scope="col") Giá
                th(scope="col") Trạng thái
                th(scope="col") Hành động
        tbody
            for item, index in products
                tr
                    th(scope="row") #{index + 1}
                    td.item-img
                        img(
                            src=item.imgUrl
                            alt=item.title 
                            class="img-fluid"
                            width= '120px'  
                            height= "120px"
                        )
                    td.item-title #{item.title}
                    td.item-price #{item.price}$

                    if item.status === 'active'
                        td
                            span.badge.badge-success #{item.status}
                    else if item.status === 'inactive'
                        td
                            span.badge.badge-danger #{item.status}


                    td.item-action
                        a.btn.btn-primary(href="/admin/products/edit/#{item._id}") Sửa
                        a.btn.btn-danger(href="/admin/products/delete/#{item._id}") Xóa