extends ../../layout/default.pug
include ../../mixins/box-head.pug
include ../../mixins/alert.pug
block main
    link(rel="stylesheet" href="/client/styles/css/wishlist.css")
    +alert(messages)
    .container.my-5.wishlist
        .row
            .col-12
                +box-head("My Wishlist")

        if (wishlistItems.length === 0)
            .row
                .col-12
                    .wishlist-empty
                        i.fa-regular.fa-heart
                        p Your wishlist is empty.
                        a.btn(href="/product") Go Shopping

        else 
            .row
                each item in wishlistItems
                    .col-md-3.mb-3
                        .wishlist-card
                            if item.productId.discountPercentage > 0
                                .wishlist-card__badge 
                                    | #{item.productId.discountPercentage * 100}% OFF

                            img.wishlist-card__img(
                                src=item.productId.imgUrl 
                                alt="Product Image"
                            )

                            .wishlist-card__body
                                h5.wishlist-card__title #{item.productId.title}

                                .wishlist-card__price
                                    span.current $#{item.productId.price}
                                    if item.productId.listPrice > 0
                                        span.old $#{item.productId.listPrice}

                                .wishlist-card__rating
                                    span #{item.productId.stars}
                                    i.fa-solid.fa-star

                                form(method="POST" action="/wishlist/remove?_method=DELETE")
                                    input(type="hidden" name="productId" value=item.productId._id)
                                    button.btn-remove(type="submit")
                                        i.fa-solid.fa-trash
                                        |  Remove
