mixin form-change-multiple-status(path)
    form(
            action=path
            method="POST" 
            id="changeMultipleStatusForm"
        ) 
            div(class="d-flex align-items-start mb-3")
                label.form-label.mb-0.align-self-center(for="select") Select:
                .form-group 
                    select(name="type" class="form-select" style="width: 200px;")
                        option(value="" selected disabled) Select action
                        option(value="active") Active
                        option(value="inactive") Inactive
                        option(value="delete-all") Delete all
                .form-group 
                    input(
                        type="text", 
                        name="ids" 
                        value="" 
                        class="form-control" 
                        id="selectedIdList" 
                        placeholder="Selected IDs" 
                        hidden)


                button(type="submit" class="btn btn-primary ms-2") Apply

